.devise-header
  .devise-header-logo
    = link_to image_tag('logo.png', class: "devise-header-logo__image"), root_path
  .devise-header-topic-path
    %ul
      %li 会員情報
      %li プロフィール
      %li 住所
      %li 完了
    .topic-path-wrapper
      .topic-path#topic-path1
        .topic-path__point
      .topic-path#topic-path2
        .topic-path__border
        .topic-path__point
      .topic-path#topic-path3
        .topic-path__border
        .topic-path__point
      .topic-path#topic-path4
        .topic-path__border
        .topic-path__point

