.devise-header
  .devise-header-logo
    = link_to image_tag('logo.png', class: "devise-header-logo__image"), root_path
  .devise-header-topic-path
    %ul
      %li 会員情報
      %li プロフィール
      %li 住所
      %li 完了
    .devise-header-topic-path__status
      .status__border
        .status__border__point#point1
        .status__border__point#point2
        .status__border__point#point3
        .status__border__point#point4