.my_page_box
  .my_page_user_icon
    .my_page_user_icon__image
      %span.fa-stack
        = icon('fas', 'circle',class: 'fa-stack-2x')
        = icon('fas', 'user', class: 'fa-stack-1x') 
    .my_page_user_icon__name= @user.nickname
