= render partial: 'top/header'
.purchased_products_body
  .purchased_products_box
    = render partial: 'purchased_products_body'  
  .purchased_side_bar
    = render partial: 'side_bar'  
= render partial: 'top/footer'