= render partial: 'top/header'
.my_page
  .my_page_body
    =render partial: 'my_page'
    .purchased_products_box
      = render partial: 'purchased_products_body'  
  .my_page_side_bar
    = render partial: 'side_bar'
= render partial: 'top/footer'