body{
  background-color:#f5f5f5;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.devise-header{
  width: 570px;
  height: 128px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  &-logo{
    width: 169px;
    height: 49px;
    margin: 0px auto;
    &__image{
      height: 49px;
    }
  }
  &-topic-path{
    margin-bottom: 50px;
    & ul{
      display: flex;
      padding: 0;
      margin-left: 0 auto;
      & li{
        display: inline-block;
        text-align: center;
        margin: 0px 5px;
        width: 80px;
        font-size: 12px;
        font-weight: bold;
        color: #bbb;
      }
    }
    .topic-path-wrapper{
      margin: 0 auto;
      width: 282px;
      display: flex;
      .topic-path{
        display: flex;
        .topic-path__point{
          display: inline-block;
          background-color: #bbb;
          height: 12px;
          width: 12px;
          border-radius: 50%;
        }
        .topic-path__border{
          position: relative;
          bottom: 5px;
          border-bottom:2px solid #bbb;
          width: 78px;
        }
      }
    }
  }
}

.main-contents{
  background-color:#fff;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding: 0 64px 64px 64px;
  & h2{
    margin: 0;
    font-size: 22px;
    padding: 32px;
    border-bottom: 1px solid #f5f5f5;
  }
  .field-wapper{
    max-width: 343px;
    margin: 0 auto;
    text-align: left;
    .field{
      margin-top: 16px;
      label{
        position: relative;
        top: 3px;
        line-height: 14px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
      }
      p.required{
        display: inline-block;
        margin: 0 0 0 6px; 
        padding: 0 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        background-color:#ea352d;
      }
      p.optional{
        display: inline-block;
        margin: 0 0 0 6px; 
        padding: 0 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        background-color:#3ccace;
      }
      .input{
        width: 100%;
        height: 48px;
        margin-top: 6px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
      }
    }
  }
  .button__next{
    text-decoration: none;
    width: 343px;
    margin-top: 24px;
    font-size: 14px;
    line-height: 48px;
    color: #fff;
    background-color: #3ccace;
    border: none;
    border-radius: 4px;
  }
  .button__sign a{
    text-decoration: none;
    color: #3ccace;
    font-size: 14px;
  }
}
.devise-footer{
  text-align: center;
  padding: 35px;
  margin: 0 auto;
  width: 700px;
  &-list{
    width: 456px;
    margin: 0 auto;
    padding-right: 60px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    & li{
      display: flex;
      display: inline-block;
      width: 180px;
      & a{
        color: #333;
      }
    }
  }
  &-logo{
    margin-top:28px;
    &__image{
      display: inline-block;
      height: 60px;
    }
    & p{
      margin: 0;
      color: #fff;
      font-size: 12px;
    }
  }
}

#error_explanation,
#login_error_explanation{
  color: #ea352d;
}
.error_message{
  display: block;
  margin: 0;
  font-size: 14px;
  color: #ea352d;
}

@media screen and (max-width: 768px){
  .devise-header{
    margin-top: 10px;
    display:block;
    width: 700px;
    &-topic-path{
      display:block;
      margin: 0 auto;
      & ul{
        padding: 16px;
        margin: 0 auto;
        width: 392px;
      }
    }
  }
  .main-contents h2{
    font-size: 18px;
    padding: 16px;
  }
  #login_error_explanation{
    font-size: 16px;
  }
  #error_explanation{
    font-size: 16px;
  }
}
