.products_footer {
    background-color: rgb(245, 245, 245);
    padding-bottom: 30px;
    .sitemap {
      margin: 0;
      display: flex;
      justify-content: center;
      a {
        margin: 0 10px;
        padding: 10px;
        text-decoration: none;
        color: #333;
        font-size: 13px;
      }
    }
    .footer-icon {
      background-color: rgb(245, 245, 245);
      text-align: center;
      &__image {
        max-width: 200px;
        min-width: 100px;
      }
      p {
        display: block;
        margin: 0 auto;
        color: #fff;
      }
    }
  }