.search-header{
  color: #333;
  width: 100%;
  height: 93px;
  margin: 0 auto 10px auto;
  padding-top: 18px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  & a{
    text-decoration: none;
    color: #0095ee;
  }
  &-nav{
    width: 620px;
    text-align: center;
    margin: 8px auto;
    display: flex;
    justify-content: space-between;
    &-left a{
      padding: 0 10px;
      font-size: 14px;
      text-decoration: none;
      color: #333;
    }
    &-left a:hover{
      color: #3ccace;
    }
    &-right a{
      padding: 0 10px;
      font-size: 14px;
      text-decoration: none;
      color: #333;
    }
    &-right a:hover{
      color: #3ccace;
    }
  }
  &-content{
    width: 700px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    &__image{
      display: inline-block;
      height: 38px;
      margin: 1px 0 1px 40px;
      width: auto;
    }
  }
}
.search-form{
  box-sizing: border-box;
  &__input{
    border:none;
    outline:none;
    border-radius: 3px;
    border: 1px solid #333;
    color: #333;
    width: 480px;
    height: 40px;
    right: 40px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 40px;
  }
  &__input:focus{
    border: 1px solid #0095ee;
  }
  &__btn{
    border: none;
    outline: none;
    width: 36px;
    height: 34px;
    padding: 0;
    position: relative;
    top: 3px;
    right: 46px;
    border-radius:2px;
    background-color: #3ccace;
    cursor: pointer;
    background-image: linear-gradient(#5eecef 0%, #3ccace 100%);
    border-bottom: 2px solid #1aa8ac;
  }
  &__btn::after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: image-url('icon-search.png');
    background-size: contain;
    vertical-align: middle;
  }
  &__btn:active{
    height: 34px;
    border: none;
    bottom: 2px;
    background-image: linear-gradient(#4ddbdf 0%, #3ccace 100%);
  }
}