a{
  text-decoration-line: none;
}
.search_main{
  margin: 40px 0;
  text-align: center; 
}
.entries-info{
  color: #888;
  font-size: 14px;
}
.contents{
  position: relative;
  color: #000;
  width: 160px;
  height: 218px;
  background-color: #fff;
  display: inline-block;
  margin: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  .content{
    width: 160px;
    height: 160px;
    overflow: hidden;
  }
}
.contents:hover{
  outline: 2px solid #3ccace;
}

._products-index-image{
  width: 160px;
  height: 160px;
  margin:0 auto; 
  object-fit: cover; 
}
._products-index-image:hover{
  transform:scale(1.2,1.2);
  transition:0.3s all;
}

.discription{
  padding: 0;
  & a{
    text-decoration-line: none;
  }
  & p{
    font-size: 14px;
    margin: 0;
    padding: 2px 10px;
    &.products-index-title{
      width: 160px;
      height: 58px;
      overflow: hidden;
      text-align: left;
      background-image: linear-gradient(0deg,rgba(31, 31, 31, 0) 0%,rgba(31, 31, 31, 1) 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(31, 31, 31, 0);
    }
    &.products-index-price{
      position: absolute;
      top: 130px;
      left: 0;
      display: inline-block;
      display: flex;
      justify-content: flex-start;
      justify-content: space-between;
      background-color: rgba(0,0,0,0.5);
      color: #fff;
      border-radius: 0 9px 9px 0;
    }
  }
}

.search-paginate a,.page.current{
  border: none;
  text-decoration: none;
  color: #3ccace;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  padding: 0;
}
.search-paginate{
  text-align: center;
  margin: 0 auto;
}
.page.current{
  color: #888;
}
.search-paginate a:hover{
  border-radius: 50%;
  background-color: #3ccace;
  color: #fff;
}

.search-main{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 1000px;
  &__sorts{
    width: 280px;
    display: block;
    margin: 60px auto 0 auto;
    & select, button,
     .search-form__input__add,
     .price-range__min,
     .price-range__max {
      border:none;
      outline:none;
      border:1px solid #ccc;
      border-radius: 4px;
    }
    & select:focus , button:focus ,
    .search-form__input__add:focus ,
    .price-range__min:focus ,
    .price-range__max:focus  {
     border:1px solid #0095ee;
     border-radius: 4px;
    }
    &>select{
      width: 100%;
      height: 40px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 40px;
      display: block;
      margin: 0 auto;
    }
  }
}

.search__detail{
  margin: 42px auto;
  width: 280px;
  height: 520px;
  padding-top: 16px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  &__add{
    width: 90%;
    display: block;
    margin: 0 auto;
    & span{
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      text-align:left;
    }
    .search-form__input__add{
      width: 100%;
      height: 40px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 40px;
      display: block;
      margin: 0 auto;
    }
  }
  &__price{
    width: 90%;
    height: 130px;
    display: block;
    margin: 0 auto;
    & span{
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
      display: inline-block;
      text-align:left;
    }
    .price-range{
      width: 100%;
      height: 40px;
      right: 40px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 40px;
      display: block;
      margin: 0 auto;
    }
    .price-range-input{
      margin: 10px auto;
      width: 100%;
      height: 40px;
      right: 40px;
      font-size: 16px;
      line-height: 40px;
      display: block;
      display: flex;
      justify-content: space-between;
      .price-range__min,.price-range__max{
        font-size: 16px;
        width: 100px;
        padding: 0 10px;
      }
      span{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        font-size: 16px;
      }
    }
  }
  &__condition{
    width: 90%;
    height: 66px;
    display: block;
    margin: 0 auto;
    & span{
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      text-align:left;
    }
    &__select{
      width: 100%;
      height: 40px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 40px;
      display: block;
      margin: 0 auto;
    }
  }
  &__postage{
    width: 90%;
    height: 72px;
    display: block;
    margin: 0 auto;
    & span{
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
      display: inline-block;
      text-align:left;
    }
    &__select{
      width: 100%;
      height: 40px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 40px;
      display: block;
      margin: 0 auto;
    }
  }
  &__status{
    width: 90%;
    height: 74px;
    display: block;
    margin: 0 auto;
    & span{
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
      display: inline-block;
      text-align:left;
    }
    &__select{
      width: 100%;
      height: 40px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 40px;
      display: block;
      margin: 0 auto;
    }
  }
  &__button{
    width: 90%;
    height: 72px;
    display: block;
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
    & a{
      text-decoration: none;
      color: #fff;
    }
    &__reset{
      width: 100px;
      height: 40px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 40px;
      display: block;
      background-color: #aaa;

      border-radius: 4px;
      text-align: center;
    }
    &__submit{
      border:none;
      outline:none;
      width: 100px;
      height: 40px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 40px;
      display: block;
      border-radius: 4px;
      color: #fff;
      background-color: #3ccace;

    }
  }
}
.search-right{
  width: 680px;
  margin-top: 40px;
  text-align: center; 
}

