.header{
  padding: 0 60px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  .header__inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0 50px;
    .inner__main{
      position: relative;
      display: flex;
      align-items: center;
      .main__icon{
        margin-right: 30px;
        border-radius: 4px;
        .icon__image{
          display: block;
          width: 140px;
          height: 40px;
        }
      }
      .main__search{
        margin-left: auto;
        width: 100%;
        .search-form{
          box-sizing: border-box;
          .search-input{
            border:none;
            outline:none;
            border-radius: 3px;
            border: 1px solid #333;
            color: #333;
            width: 90%;
            height: 40px;
            right: 40px;
            padding: 0 10px;
            font-size: 16px;
            line-height: 40px;
          }
          .search-input:focus{
            border: 1px solid #0095ee;
          }
          .search-btn{
            border: none;
            outline: none;
            width: 36px;
            height: 34px;
            padding: 0;
            position: relative;
            right: 43px;
            bottom: 3px;
            border-radius: 2px;
            background-color: #3ccace;
            cursor: pointer;
            background-image: linear-gradient(#5eecef 0%, #3ccace 100%);
            border-bottom: 2px solid #1aa8ac;
          }
          .search-btn:after{
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: image-url('icon-search.png');
            background-size: contain;
            vertical-align: middle;
          }
          .search-btn:active{
            height: 34px;
            border: none;
            bottom: 2px;
            background-image: linear-gradient(#4ddbdf 0%, #3ccace 100%);
          }
        }
      }
    }
    .inner__nav{
      font-size: 14px;
      display: flex;
      .nav__left{
        position: relative;
        display: flex;
        .left__category{
          text-decoration: none;
          line-height: 38px;
          padding: 0;
          .category__btn {
            a{
              color: #333;
              text-decoration: none;
            }
            a:hover{
              color: #3ccace;
            }
          }
        }
        .left__brand{
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
          a{
            color: #333;
            text-decoration: none;
          }
          a:hover{
            color: #3ccace;
          }
        }
      }
      .nav__right{
        margin-left: auto;
        display: flex;
        padding-right: 8%;
        .right__logout{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .logout__btn{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 38px;
          }
          a:hover{
            color: #3ccace;
          }
        }
        .right__mypage{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .mypage__btn{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 38px;
          }
          a:hover{
            color: #3ccace;
          }
        }
        .right__login{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .login__btn{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 38px;
          }
          a:hover{
            color: #3ccace;
          }
        }
        .right__new{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .new__btn{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 38px;
          }
          a:hover{
            color: #3ccace;
          }
        }
      }
    }
  }
}

.main{
  .main__visual{
    width: 100%;
    height: 560px;
    background-image: image-url('bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .visual__content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      .content__subtitle{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      .content__text{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      .content__btn{
        display: flex;
        .a-btn__link{
          margin-right: 10px;
          margin-top: 24px;
          .a-btn__image{
            width: 180px;
          }
        }
        .g-btn__link{
          margin-right: 10px;
          margin-top: 12px;
          .g-btn__image{
            width: 205px;
          }
        }
      }
    }
    .visual__picture{
      position: absolute;
      top: 0;
      right: 210px;
    }
  }
  .main__introduction{
    padding: 60px 20px;
    .introduction__subtitle{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .introduction__lists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .lists__list1{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list1__pict1{
          position: relative;
          margin-bottom: 20px;
          .pict1__number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          .pict1-reason-01{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .list1__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
        }
        .list1__discription{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      .lists__list2{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list2__pict2{
          position: relative;
          margin-bottom: 20px;
          .pict2__number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3ccace;
            color: #fff;
          }
          .pict2-reason-02{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .list2__text2{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
        }
        .list2__discription2{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      .lists__list3{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list3__pict3{
          position: relative;
          margin-bottom: 20px;
          .pict3__number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3ccade;
            color: #fff;
          }
          .pict3-reason-03{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .list3__text3{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
        }
        .list3__discription3{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .main__middle-dl{
    background-image: image-url('bg-topMiddleDl-pict.jpg');
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    .middle-dl__inner{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .inner__subtitle{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .inner__text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .inner__btn{
        display: flex;
        .abtn__link{
          margin-right: 10px;
          margin-top: 24px;
          .abtn__image{
            width: 180px;
          }
        }
        .gbtn__link{
          margin-right: 10px;
          margin-top: 12px;
          .gbtn__image{
            width: 205px;
          }
        }
      }
    }
  }
  .main__features{
    padding: 60px 100px;
    background-color: #fff;
    .features__head{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .features__items{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .items__item1{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        .item1__image{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          .icon-01{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .item1__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .item1__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
      .items__item2{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        .item2__image{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          .icon-03{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .item2__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .item2__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
      .items__item3{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        .item3__image{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          .icon-04{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .item3__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .item3__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .main__pickupContainer{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    width: 1050px;
    margin: 0 auto;
    .pickupContainer__title{
      width:100%;
      display: block;
      text-align: center;
    }
    .pickupContainer__products{
      display: flex;
      justify-content: center;
    }
    .items-box_photo__sold__inner{
      left: 3px;
      top: 15px;
    }
  }
}

.app-banner{
  background-image: url(bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .app-banner__inner{
    color: #fff;
    text-align: center;
    .inner__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    .inner__text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .inner__icon{
      width: 100%;
      display: flex;
      justify-content: center;
      // margin: 20px auto 0;
      .a-icon__link{
        margin-top: 20px;
        .a-icon__image{
          width: 180px;
        }
      }
      .g-icon__link{
        margin-top: 7px;
        .g-icon__image{
          width: 205px;
        }
      }
    }
  }
}

.fotter{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .fotter__contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .contents__content1{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      .content1__head{
        font-size: 16px;
        font-weight: bold;
      }
      .content1__detail{
        list-style: none;
        padding-left: 0;
        .detail__list1{
          margin: 0;
          padding: 0;
          .list1__link{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
        .detail__list2{
          margin: 0;
          padding: 0;
          .list2__link{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
        .detail__list3{
          margin: 0;
          padding: 0;
          .list3__link{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
        .detail__list4{
          margin: 0;
          padding: 0;
          .list4__link{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
    .contents__content2{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      .content2__head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      .content2__detail{
        list-style: none;
        padding: 0;
        .detail__list5{
          margin: 0;
          padding: 0;
          .list5__link{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
        .detail__list6{
          margin: 0;
          padding: 0;
          .list6__link{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
    .contents__content3{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      .content3__head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      .content3__detail{
        list-style: none;
        padding: 0;
        .detail__list7{
          margin: 0;
          padding: 0;
          .list7__link{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
        .detail__list8{
          margin: 0;
          padding: 0;
          .list8__link{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
        .detail__list9{
          margin: 0;
          padding: 0;
          .list9__link{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  .fotter__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    .logo__image{
      width: 100%;
      vertical-align: bottom;
    }
  }
  .fotter__c-mark{
    font-size: 14px;
  }
}

  .purchase-btn{
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    z-index: 11;
    .purchase-btn__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    .purchase-btn__icon{
      width: 60%;
    }
  }