.header-icon
  = link_to image_tag('logo.png', class: "header-icon__image"), root_path
  .login_information
  - if user_signed_in?
    %span ログインしています
    = link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
    %span ログインしていません
    = link_to "新規登録", new_user_registration_path
    = link_to "ログイン", new_user_session_path   