=link_to product_path(product.id), class: "contents" do
  .content
    = image_tag product.images[0].src.url, class: "_products-index-image"
      //buyer_idがある場合には、SOLDと表示させる
      - if product.buyer_id.present? 
      .items-box_photo__sold
        .items-box_photo__sold__inner SOLD

  .discription
    %p.products-index-title= product.title 
    %p.products-index-price 
      %span￥
      %span= product.price.to_s(:delimited, delimiter: ',')
