.head
  ピックアップカテゴリー
.productBox
  .productHead
    .title
      新規投稿商品
  .productLists
    .productList
      = image_tag product.images[0].src.url, class: "productList--img"
      .productList--body
        %p.name= product.title
        %p.details= product.price
        円（税抜）
