.contents
  .content
    = image_tag product.images[0].src.url, class: "_products-index-image"
  .discription
    %p.products-index-title= product.title
    %p.products-index-price= product.price
    円