.search-form
  = form_with(url: search_products_path, local: true, method: :get) do |f| 
    = f.text_field :keyword, placeholder: "商品を検索する", class: "search-form__input" 
    = f.button "", class: "search-form__btn"