.commentList__otherComment
  .commentList__otherUserName
    = comment.user.nickname
    - if comment.user_id == @product.user.id
      .commentList__otherUserName--master
        出品者
  .commentList__otherContent
    .commentList__otherContent--comment
      = comment.comment
    .commentList__otherContent--time
      = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")