.head
  ピックアップカテゴリー
  .productBox
    .productHead
      .title
        新規投稿商品
    .productLists
      .productList
        = link_to
          .product--img
          .product--body
            .name
            .detail
