.new_product_create_body
  .putting_up_product
    .putting_up_product_box
      %h1.putting_up_product_box__title 出品が完了しました。
      %div.putting_up_product_box__message
        出品した商品は「
        %span 出品した商品
        」からいつでもみることができます。
      .putting_up_product_box__link
        =link_to "続けて出品する", new_product_path, class: "link_btn"
        =link_to "出品した商品をみる", product_path(params[:id]), class: "link_btn"
      %p=link_to "マイページを見る", user_path(current_user.id), class: "my_page_link"