.mypage_pay_done
  %main.mypage_contents.clearfix
    .main_content
      .payment
        .payment_content
          .payment_content__title
            %h1.payment_header 購入が完了しました
          .logaut_content
          =link_to root_path,class:"btn-default btn-red" do
            トップページへ戻る
            
    